# PyCharm
.idea/

# Virtual Environment
venv/

# Python
src/__pycache__/
*.pyc
*.pyo
*.pyd
*.so
.Python
build/
dist/

#Latex
*.aux
*.bbl
*.blg
*.out
*.synctex.gz

#Images
*.png
*.jpg

# Logs
*.log
*.txt
*.csv

# Example of a sensitive file (replace with your actual file names)
#config/startup.sh
